@page "/Login"
@inject AppDBContext _db
@inherits LayoutComponentBase
<style>
    body {
        background-image: url('/Image/tutionPhoto.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
        background-size: cover; /* Adjust the image size to cover the entire background */
        /* Add more CSS properties as needed */
    }
</style>
<br /><br /><br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Login</h2>
                    <form method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary" @onclick="Login">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    private void Login()
    {

    }
}

