@page "/Login"
@inject AppDBContext _db
@inherits LayoutComponentBase
<h3>Blog</h3>
<form method="post">
    <form>
        <!-- Email input -->
        <div align="center"  data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">Email address</label>
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" />
            <label class="form-label" for="form2Example2">Password</label>
        </div>

            <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
            </div>

        <!-- Submit button -->
        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4" @onclick="Login">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="#!">Register</a></p>
        </div>
    </form>
</form>

@code {
    UsersModel RequestModel = new();

    private async Task Login()
    {
        UsersModel usersModel = new();
        RequestModel = usersModel;
    }
}

