@inherits LayoutComponentBase

<PageTitle>OldQuestionProject</PageTitle>

<style>
    body {
        background-image: url('/Image/tutionPhoto.jpg');
        background-size: cover;
    }
</style>

<div class="page">
@*     <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="bg-success top-row px-4">
            <a href="CreateUser" class = "text-white" target="_blank">Sign Up</a>
            <a href="Login" class="text-white" target="_blank">Sign In</a>
            <a href="https://docs.microsoft.com/aspnet/" class="text-white" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
